.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 9999;
}
.popup_user-container {
  display: none;
  position: fixed;
  top: 12%;
  left: 93%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  width: 12%;
  z-index: 9999;
}
#tyt {
  color: orange;
}
/* Style dla checkboxa do usuwania przypomnien */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background-color: #fff;
  border: 2px solid #cbd5e0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0.2rem; /* Dodajemy margines */
  box-shadow: inset 0 0 0 3px #fff; /* Dodajemy przerwę */
}

input[type="checkbox"]:checked + label {
  background-color: #f59e0b;
  border-color: #f59e0b;
}
#check {
  background-color: #f59e0b;
}

/* Style do checkboxa na sidebarze */
.circle {
  width: 23px;
  height: 23px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px white;
}
.icon {
  width: 15px; /* dostosuj rozmiar ikony według potrzeb */
  height: 15px; /* dostosuj rozmiar ikony według potrzeb */
  color: white;
}
.text-orange-500 {
  color: #ed8936; /* Pomarańczowy kolor z palety kolorów Tailwind CSS */
}
